<html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<header class=container>
	<div id="top-header">
		<div id="logo">
			<img id = 'img_logo' src="{{ url_for('static', filename='todo.png') }}" />
		</div>
		<nav>
			<ul>
				<li><a href="{{ url_for('tasks_page') }}"><p>Back to Tasks</p></a></li>
			</ul>
		</nav>
	</div>
	<div id="headingbar">
		<span>To Do List</span>
		<p>Delete Task</p>
	</div>
	</header>
	<body  id = 'theme' class = 'lightmode'>
		<div style="height:110px; width:100%"></div>
			<form name="deletetask" action="/delete_task_page" enctype="multipart/form-data" method="POST">
			<table>
				<tr><td><label for = "task_number">Task No.:</label></td><td><input type="text" id = "task_number" name="task_number">
				<tr><td><button type= "submit" id = "delete_task" name="delete_task"><p>delete</p></button></td></tr>
			</table>
			</form>
		</div>
		{%- for message in get_flashed_messages() %}
		{{ message }}
		{%- endfor %}
		</body>
		<script>
			const mode = '<p>{{ session["mode"] }}</p>';
			if(mode == '<p>Dark</p>'){
				document.getElementById('img_logo').src= "{{ url_for('static', filename='todo_dark_mode.png') }}";
				document.getElementById('theme').classList.add('darkmode')
				document.getElementById('theme').classList.remove('lightmode')
			}
			else if(mode == '<p>Light</p>'){
				document.getElementById('img_logo').src= "{{ url_for('static', filename='todo.png') }}";
				document.getElementById('theme').classList.add('lightmode')
				document.getElementById('theme').classList.remove('darkmode')
			}

		</script>
  </html>
